@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for code blocks */
.custom-scrollbar::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #111;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}

html {
  scroll-behavior: smooth;
}

